# Dependencias
node_modules/

# Logs y artefactos
*.log
.DS_Store
Thumbs.db

# Archivos de bloqueo temporales del editor (LibreOffice, Vim, etc.)
.*~lock.*
*.~lock.*

# Archivos generados por Pandoc
*.docx
